/* Normal Button */
.btn-normal {
  background-color: #e1775d;
  border: 0px;
  border-radius: 30px;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  cursor: pointer;
}

.btn-normal:hover {
  background-color: #d1654a;
  transition: 0.2s;
}

.btn-normal:active {
  transform: scale(0.9);
  box-shadow: 2px 2px 5px gray;
}

/* Icon Button */
.btn-icon {
  background-color: #a2adaa;
  border: none;
  border-radius: 200px;
  color: white;
  padding: 1rem;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn-icon:hover {
  background-color: #656565;
  transition: 0.2s;
}

.btn-icon:active{
    transform: scale(0.9);
    box-shadow: 2px 2px 5px gray;
}
