@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

.outter_div {
  width: 100%;
  min-height: 100vh;
  /* border: 2px solid red; */
  display: flex;
}

.left_div {
  /* border: 2px solid black; */
  display: grid;
  width: 20%;
  min-height: 100%;
  background: #f4f9fd;
  box-shadow: 0.3rem 0rem 0.3rem rgba(0, 0, 0, 0.1);
  /* border: 2px solid green; */
}
.right_div {
  /* border: 2px solid black; */
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: left;
}

.right_inner_div {
  width: 99%;
  height: 95%;
  /* border: 2px solid green; */
  background: transparent;
  padding: 1rem;
  display: block;
}

@media screen and (max-width:400px){
  .left_div{
    width: 25%;
  }
  .right_div{
    width: 65%;
  }
}

@media screen and (max-width:450px){
  .left_div{
      display: none;
  }

  .right_div{
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
  }
}

@media screen and (max-width:670px){
  .right_inner_div{
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 0;
  }
}