/* -------------------------1. Normal Button---------------------------------------- */
.btn-normal {
  background-color: #e1775d;
  border: 0px;
  border-radius: 30px;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  cursor: pointer;
}

.btn-normal:hover {
  background-color: #d1654a;
  transition: 0.2s;
}

.btn-normal:active {
  transform: scale(0.9);
  box-shadow: 2px 2px 5px gray;
}

/* ---------------------------------------------2. Icon Button--------------------------------------------------------- */
.btn-icon-no-click {
  background-color: #a2adaa;
  border: none;
  border-radius: 200px;
  color: white;
  padding: 1rem;
  font-size: 16px;
}

.btn-icon {
  background-color: white;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  display: inline-block;
  color: #656565;
  line-height: 1;
  margin: 0 8px;
  transition: 0.3s;
  padding: 14px;
  border-radius: 50px;
  border: 1px solid #656565;
}

/* Darker background on mouse-over */
.btn-icon:hover {
  color: white;
  background-color: #656565;
  transition: 0.2s;
}

.btn-icon:active{
  transform: scale(0.9);
  box-shadow: 2px 2px 5px gray;
}

/* -------------------------------------------------------Size Variety----------------------------------------------------------- */
/* 1. small button */
.btn-small{
  padding: 10px;
}

.btn-xsmall{
  padding: 7px;
}

/* ---------------------------------------------------Colour Variety--------------------------------------------------------- */
/* A. Red Button */
.btn-bg-red{
  background-color: #e1775d;
  border: 1px solid #e1775d;
  color: white;
}

.btn-bg-red:hover {
  color: white;
  background-color: #d1654a;
  transition: 0.2s;
}

.btn-bg-red:active {
  transform: scale(0.9);
  box-shadow: 2px 2px 5px gray;
}

/* B. Green Button */
.btn-bg-green{
  background-color: #01966e;
  border: 1px solid #01966e;
  color: white;
}

.btn-bg-green:hover {
  color: white;
  background-color: #098060;
  transition: 0.2s;
}

.btn-bg-green:active {
  transform: scale(0.9);
  box-shadow: 2px 2px 5px gray;
}

/* B. Blue Button */
.btn-bg-blue{
  background-color: #7cd5ff;
  border: 1px solid #7cd5ff;
  color: white;
}

.btn-bg-blue:hover {
  color: white;
  background-color: #03aed8;
  border: 1px solid #03aed8;
  transition: 0.2s;
}

.btn-bg-blue:active {
  transform: scale(0.9);
  box-shadow: 2px 2px 5px gray;
}