/* -------------------------------Form Style---------------------------------------------- */
.form-style {
  border-top: 2px solid #e1775d;
  background-color: #fff;
  max-width: 500px;
  margin: auto;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(162,173,170,0.5);
}

/* --------------------------------------------Input Fields-------------------------------------- */
input, textarea{
  border: 1px solid #a2adaa;
  border-radius: 10px;
  padding: .4rem;
  outline: none;
}

input:focus, textarea:focus{
  border: 1px solid #e1775d;
  outline: 1px solid #e1775d;
}

/* -------------------------------------------------Input Size-------------------------------------- */
.width-40{
  width: 40%;
  display: flex;
  justify-content: center;
}

/* ------------------------------------------File type input----------------------------------------- */
input::file-selector-button {
  background-color: #656565;
  border: 0px;
  border-radius: 30px;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  cursor: pointer;
}

input::file-selector-button:hover {
  background-color: #d1654a;
  transition: 0.2s;
}

input::file-selector-button:focus {
  transform: scale(0.9);
  box-shadow: 2px 2px 5px gray;
}
/* -----------------------------------Input Number arrow hide-------------------------------------- */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}