.img-size{
    width: 45%;
    border-radius: 50%;
}

@media screen and (max-width: 920px) {
    .name-size{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 820px) {
    .name-size{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 780px) {
    .name-size{
        font-size: 1rem;
    }

    .adjustFlex{
        flex-wrap: wrap;
    }
}
