.card {
  border: 1px solid rgb(202, 201, 201);
  width: 15rem;
  height: 18rem;
  display: inline-block;
  background: #ffffff;
  padding: 0.4rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

.image {
  height: 60%;
  overflow: hidden;
}
.detail_div {
  height: 40%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
}

.name_div {
  height: 30%;
  /* border: 2px solid green; */
  display: grid;
  justify-content: center;
  text-overflow: ellipsis;

}
.name_div span {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  text-overflow: ellipsis;

}

.price_div {
  width: 100%;
  /* border: 2px solid green; */
  height: 30%;
  display: flex;
}
.buttons_div {
  height: 40%;
  width: 100%;
  /* border: 2px solid blue; */
  display: flex;
}

.ratings {
  width: 60%;
  text-align: center;
  /* border: 2px solid red; */
}

.price {
  width: 40%;
  /* border: 2px solid red; */
  text-align: center;
  color: black;
  font-weight: bold;
}
